@mixin make-cols($gap: 10px, $bc) {
    display: grid;
    gap: $gap;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    > * {
      background-color: $bc;
        .imgHolder{
          aspect-ratio: 16/9;
          img{
            @extend .resp; 
            object-fit: cover;
          }
        }
    }
  }
  