/*variablen*/
$hgrey: #1d1a11;
$mgray: #14130e;
$sfont: 'M PLUS 1 Code';

.tthome{
    display: grid;
    grid-template: 60px 1fr 60px/85% 15%;
    height: 1vh;
}

header{
    background-color: $hgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    grid-row: 1/2;
    grid-column: 1/3;
    h1{
        font-family: $sfont;
        font-weight: 700;
        font-size: 32px;
        color: white;
        text-transform: uppercase;
        /* &::before{
            content: "\e915";
            font-family: icomoon;
            font-size: 32px;
        }*/
    }
    nav{
        ul{
            display: flex;
            gap: 5px;
            li{
                a{
                    font-family: $sfont;
                    font-weight: 400;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}

main{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: $mgray;
    width: 100%;
    height: auto;
}